[package]
name = "brush-interactive"
description = "Interactive layer of brush-shell"
version = "0.2.3"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
bench = false

[lints]
workspace = true

[dependencies]
brush-parser = { version = "^0.2.3", path = "../brush-parser" }
brush-core = { version = "^0.2.3", path = "../brush-core" }
thiserror = "1.0.62"
tracing = "0.1.40"

[target.'cfg(any(windows, unix))'.dependencies]
rustyline = { package = "brush-rustyline-fork", version = "14.0.1", features = [
    "derive",
] }
tokio = { version = "1.37.0", features = ["macros", "signal"] }
