[package]
name = "brush-interactive"
description = "Interactive layer of brush-shell"
version = "0.2.13"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
bench = false

[features]
default = []
basic = ["dep:crossterm"]
minimal = []
reedline = ["dep:reedline", "dep:nu-ansi-term"]

[lints]
workspace = true

[dependencies]
async-trait = "0.1.84"
brush-parser = { version = "^0.2.11", path = "../brush-parser" }
brush-core = { version = "^0.2.13", path = "../brush-core" }
crossterm = { version = "0.28.1", features = ["serde"], optional = true }
indexmap = "2.7.0"
nu-ansi-term = { version = "0.50.1", optional = true }
reedline = { version = "0.38.0", optional = true }
thiserror = "2.0.7"
tracing = "0.1.41"

[target.'cfg(any(windows, unix))'.dependencies]
tokio = { version = "1.42.0", features = ["macros", "signal"] }
