[package]
name = "brush-interactive"
description = "Interactive layer of brush-shell"
version = "0.2.15"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
bench = false

[features]
default = []
basic = ["dep:crossterm"]
minimal = []
reedline = ["dep:reedline", "dep:nu-ansi-term"]

[lints]
workspace = true

[dependencies]
async-trait = "0.1.88"
brush-parser = { version = "^0.2.13", path = "../brush-parser" }
brush-core = { version = "^0.2.15", path = "../brush-core" }
crossterm = { version = "0.28.1", features = ["serde"], optional = true }
indexmap = "2.7.1"
nu-ansi-term = { version = "0.50.1", optional = true }
reedline = { version = "0.39.0", optional = true }
thiserror = "2.0.11"
tracing = "0.1.41"

[target.'cfg(any(windows, unix))'.dependencies]
nix = { version = "0.29.0", features = ["term"] }
tokio = { version = "1.44.1", features = ["macros", "signal"] }
