[package]
name = "brush-core"
description = "Reusable core of a POSIX/bash shell (used by brush-shell)"
version = "0.3.0"
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
bench = false

[lints]
workspace = true

[dependencies]
async-recursion = "1.1.1"
async-trait = "0.1.88"
brush-parser = { version = "^0.2.15", path = "../brush-parser" }
cached = "0.55.1"
cfg-if = "1.0.0"
chrono = "0.4.40"
clap = { version = "4.5.21", features = ["derive", "wrap_help"] }
fancy-regex = "0.14.0"
futures = "0.3.31"
indexmap = "2.9.0"
itertools = "0.14.0"
lazy_static = "1.5.0"
rand = "0.9.1"
thiserror = "2.0.11"
tracing = "0.1.41"

[target.'cfg(target_family = "wasm")'.dependencies]
tokio = { version = "1.44.2", features = ["io-util", "macros", "rt"] }

[target.'cfg(any(windows, unix))'.dependencies]
hostname = "0.4.1"
os_pipe = { version = "1.2.1", features = ["io_safety"] }
tokio = { version = "1.44.2", features = [
    "io-util",
    "macros",
    "process",
    "rt",
    "rt-multi-thread",
    "signal",
] }

[target.'cfg(windows)'.dependencies]
homedir = "0.3.4"
whoami = "1.6.0"

[target.'cfg(unix)'.dependencies]
command-fds = "0.3.0"
nix = { version = "0.29.0", features = [
    "fs",
    "process",
    "resource",
    "signal",
    "term",
    "user",
] }

[target.'cfg(target_os = "linux")'.dependencies]
procfs = "0.17.0"

[target.wasm32-unknown-unknown.dependencies]
getrandom = { version = "0.3.2", features = ["wasm_js"] }
uuid = { version = "1.16.0", features = ["js"] }

[dev-dependencies]
anyhow = "1.0.98"
criterion = { version = "0.5.1", features = ["async_tokio", "html_reports"] }

[target.'cfg(unix)'.dev-dependencies]
pprof = { version = "0.14.0", features = ["criterion", "flamegraph"] }

[[bench]]
name = "shell"
harness = false
