[package]
name = "brush-shell"
description = "Rust-implemented shell focused on POSIX and bash compatibility"
version = "0.2.13"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true

[[bin]]
name = "brush"
path = "src/main.rs"
bench = false

[[test]]
name = "brush-compat-tests"
path = "tests/compat_tests.rs"
harness = false

[[test]]
name = "brush-interactive-tests"
path = "tests/interactive_tests.rs"

[[test]]
name = "brush-completion-tests"
path = "tests/completion_tests.rs"

[features]
default = ["basic", "reedline", "minimal"]
basic = ["brush-interactive/basic"]
minimal = ["brush-interactive/minimal"]
reedline = ["brush-interactive/reedline"]

[lints]
workspace = true

[dependencies]
async-trait = "0.1.84"
brush-parser = { version = "^0.2.11", path = "../brush-parser" }
brush-core = { version = "^0.2.13", path = "../brush-core" }
cfg-if = "1.0.0"
clap = { version = "4.5.21", features = ["derive", "env", "wrap_help"] }
const_format = "0.2.34"
git-version = "0.3.9"
lazy_static = "1.5.0"
tracing = "0.1.41"
tracing-subscriber = "0.3.19"
human-panic = "2.0.2"

[target.'cfg(not(any(windows, unix)))'.dependencies]
brush-interactive = { version = "^0.2.13", path = "../brush-interactive", features = [
    "minimal",
] }
tokio = { version = "1.42.0", features = ["rt", "sync"] }

[target.'cfg(any(windows, unix))'.dependencies]
brush-interactive = { version = "^0.2.13", path = "../brush-interactive", features = [
    "basic",
    "reedline",
] }
tokio = { version = "1.41.1", features = ["rt", "rt-multi-thread", "sync"] }

[dev-dependencies]
anyhow = "1.0.95"
assert_cmd = "2.0.16"
assert_fs = "1.1.2"
colored = "2.2.0"
descape = "2.0.3"
diff = "0.1.13"
dir-cmp = "0.1.0"
expectrl = { git = "https://github.com/zhiburt/expectrl", rev = "a0f4f7816b9a47a191dd858080e8fd80ff71cd96" }
glob = "0.3.2"
indent = "0.1.1"
junit-report = "0.8.3"
pathdiff = "0.2.3"
regex = "1.11.1"
serde = { version = "1.0.217", features = ["derive"] }
serde_yaml = "0.9.34"
strip-ansi-escapes = "0.2.0"
version-compare = "0.2.0"
