[workspace]
resolver = "2"
members = ["cli", "parser", "shell", "interactive-shell"]
default-members = ["cli", "parser", "shell", "interactive-shell"]

[workspace.package]
edition = "2021"
license = "MIT"
version = "0.1.0"

[workspace.lints.clippy]
all = { level = "deny", priority = -1 }
pedantic = { level = "deny", priority = -1 }
bool_to_int_with_if = "allow"
collapsible_else_if = "allow"
collapsible_if = "allow"
if_not_else = "allow"
if_same_then_else = "allow"
match_same_arms = "allow"
missing_errors_doc = "allow"
missing_panics_doc = "allow"
must_use_candidate = "allow"
redundant_closure_for_method_calls = "allow"
redundant_else = "allow"
similar_names = "allow"
struct_excessive_bools = "allow"
result_large_err = "allow"

[profile.release]
opt-level = "z"
lto = true
codegen-units = 1

[package]
name = "brush-root"
version = "0.1.0"
build = "build.rs"

[lib]
name = "root"
