[workspace]
# disable the changelog for all packages
# ref: https://release-plz.ieni.dev/docs/extra/single-changelog
changelog_config = "cliff.toml"
changelog_update = false
publish = true

[[package]]
name = "brush-shell"
changelog_update = true
changelog_path = "./CHANGELOG.md"
changelog_include = ["brush-core", "brush-interactive-shell", "brush-parser"]
