[package]
name = "brush-parser"
description = "POSIX/bash shell tokenizer and parsers (used by brush-shell)"
version = "0.2.10"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
bench = false

[features]
fuzz-testing = ["dep:arbitrary"]

[dependencies]
arbitrary = { version = "1.3.2", optional = true, features = ["derive"] }
cached = "0.53.1"
indenter = "0.3.3"
peg = "0.8.4"
thiserror = "1.0.67"
tracing = "0.1.40"
utf8-chars = "3.0.5"

[dev-dependencies]
anyhow = "1.0.92"
assert_matches = "1.5.0"
criterion = { version = "0.5.1", features = ["html_reports"] }
expect-test = "1.5.0"
pretty_assertions = { version = "1.4.1", features = ["unstable"] }
serde = { version = "1.0.214", features = ["derive"] }
serde_yaml = "0.9.34"

[target.'cfg(unix)'.dev-dependencies]
pprof = { version = "0.13.0", features = ["criterion", "flamegraph"] }

[[bench]]
name = "parser"
harness = false
