[package]
name = "brush-parser"
description = "POSIX/bash shell tokenizer and parsers (used by brush-shell)"
version = "0.2.11"
authors.workspace = true
categories.workspace = true
edition.workspace = true
keywords.workspace = true
license.workspace = true
readme.workspace = true
repository.workspace = true
rust-version.workspace = true

[lib]
bench = false

[features]
fuzz-testing = ["dep:arbitrary"]

[dependencies]
arbitrary = { version = "1.4.1", optional = true, features = ["derive"] }
cached = "0.54.0"
indenter = "0.3.3"
peg = "0.8.4"
thiserror = "2.0.7"
tracing = "0.1.41"
utf8-chars = "3.0.5"

[dev-dependencies]
anyhow = "1.0.95"
assert_matches = "1.5.0"
criterion = { version = "0.5.1", features = ["html_reports"] }
pretty_assertions = { version = "1.4.1", features = ["unstable"] }

[target.'cfg(unix)'.dev-dependencies]
pprof = { version = "0.14.0", features = ["criterion", "flamegraph"] }

[[bench]]
name = "parser"
harness = false
